/* design by hanif = github/gitlab : hanifyogatama & darkvader */

body {
    font-family: 'Poppins';
}

/* start header ************************************************************* */

nav.navbar ul.navbar-nav li.nav-item a.nav-link {
    color: black;
}

nav.navbar ul.navbar-nav li.nav-item a.nav-link:hover {

    border-radius: 20px;
    background-color: #f43b31;
    color: white;

}

nav.navbar ul.navbar-nav li.nav-item.active a.nav-link {

    border-radius: 20px;
    background-color: #f43b31;
    color: white;

}

/* btn login */
button.btn-account-1 {
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #ffffff;
    color: #f43b31;
}

button.btn-account-1:hover {
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #f43b31;
    color: white;
}


button.btn-account {
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #f43b31;
    color: #ffffff;
}

button.btn-account:hover {
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #ffffff;
    color: #f43b31;

}

/* end header --------------------------------------------------------------*/


/* start search bar ******************************************************** */

button.btn-search {
    color: white;
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #f43b31;
}

button.btn-search:hover {
    border-radius: 20px;
    background-color: #ffffff;
    border: 1px solid #f43b31;
    color: #f43b31;
}

/* end search bar ----------------------------------------------------------*/

/* start card-feature ********************************************************** */

.card-feature {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #f43b31;
}

.card-feature:hover {
    background-color: #f43b31;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    color: #fff;

}

.card-feature .card-body {
    margin: 45px;
}



/* end card-feature ------------------------------------------------------------ */


/* start navbar content ****************************************************/

nav.bg-light {
    border-bottom: 1px solid #7c7c7c;
    padding: 0px 0px;
}

.nav-content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

ul.nav-content li.nav-item a.nav-link {
    color: black;
    border-bottom: 3px solid transparent;

}


ul.nav-content li.nav-item a.nav-link:hover {
    color: #f43b31;


}

ul.nav-content li.nav-item.active a.nav-link {
    border-bottom: 3px solid #f43b31;

}



/* end navbar content ----------------------------------------------------*/


/* start footer ********************************************************* */

footer {
    color: white;
    padding-top: 40px;
    background-color: #d7433b;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul.list {
    list-style: none;
    display: inline;
    margin-left: 0;
    padding: 0;
}

ul.list li i.fas {
    font-size: 20px;
    padding: 10px 6px 0px 0;
}


.copyright {

    background-color: #c50e04;
    color: white;
    padding: 7px 7px;
}

.social-network {
    color: white;
}

ul.social-network {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-network li {
    display: inline;
    margin: 0 10px;
}

ul.social-network li a {
    color: white;
    font-size: 29px;
}

ul.social-network li a.btn-twitter:hover {
    color: #1DA1F2;
}

ul.social-network li a.btn-facebook:hover {
    color: #4267B2;
}

ul.social-network li a.btn-instagram:hover {
    color: #833AB4;
}

/* endfooter ---------------------------------------------------------------*/


/* start search bar ******************************************************* */
.has-search .form-control {
    padding-left: 2.375rem;
    border-radius: 30px;
    margin-right: 24px;

}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;

}

/* end seacrh bar ----------------------------------------------------------*/

/* Start Testimony ******************************************************** */
.img-testimony img {
    height: 262px;
    width: 262px;
}

/* end Testimony -----------------------------------------------------------*/

.container-grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(185px, auto);
    grid-auto-flow: dense;
    row-gap: 30px;
    column-gap: 30px;
    position: relative;
    z-index: 3;
}

.container-grid.sm {
    grid-auto-rows: minmax(245px, auto);
    row-gap: 10px;
    column-gap: 10px;
}

.container-grid .item.column-1 {
    grid-column-end: span 1;
}

.container-grid .item.column-2 {
    grid-column-end: span 2;
}

.container-grid .item.column-3 {
    grid-column-end: span 3;
}

.container-grid .item.column-4 {
    grid-column-end: span 4;
}

.container-grid .item.column-5 {
    grid-column-end: span 5;
}

.container-grid .item.column-6 {
    grid-column-end: span 6;
}

.container-grid .item.column-7 {
    grid-column-end: span 7;
}

.container-grid .item.column-8 {
    grid-column-end: span 8;
}

.container-grid .item.column-9 {
    grid-column-end: span 9;
}

.container-grid .item.column-10 {
    grid-column-end: span 10;
}

.container-grid .item.column-11 {
    grid-column-end: span 11;
}

.container-grid .item.column-12 {
    grid-column-end: span 12;
}

.container-grid .item.row-1 {
    grid-row-end: span 1;
}

.container-grid .item.row-2 {
    grid-row-end: span 2;
}

.container-grid .item.row-3 {
    grid-row-end: span 3;
}

.container-grid .item.row-4 {
    grid-row-end: span 4;
}

/* container grid  */

/* start sidebar profile ****************************************************************** */

.sidebar {
    position: relative;
    width: 100%;
    z-index: 99;
}

.sidebar .sidebar-content {
    position: relative;
    border-radius: 0.25rems;
    margin-bottom: 16 * 1.25;
}

.sidebar .category-title {
    position: relative;
    margin: 0;
    padding: 12px 20px;
    padding-right: 46px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sidebar-default {
    color: white;
    background-color: #F43B31;
    border-radius: 10px 0px 0px 10px;

}

.category-content ul.nav li.nav-item a {
    color: white;
}

.category-content ul.nav li.nav-item:hover {
    background-color: #CF1D13;
}

.category-content ul.nav li.nav-item.active {
    background-color: #CF1D13;
}





button.btn-keluar {
    border-radius: 20px;
    border: 1px solid #ffffff;
    background-color: #f43b31;
    color: #ffffff;
}

button.btn-keluar:hover {
    border-radius: 20px;
    border: 1px solid #f43b31;
    background-color: #ffffff;
    color: #f43b31;
}




.container-profile {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}


.card .card-activity {
    background-color: #FBFAF4;
}